<div id="preloader" class="loaderOverlay">
    <div class="row">
        <div class="ImagenCarga mx-auto" style="text-align:center">
            <img src="https://i.ibb.co/s9M9xyq/Smart-Logo-redes.png" width="300">
        </div>
    </div>
</div>



@code {

}
