@inherits LayoutComponentBase

<link rel="stylesheet" media="all" href="assetsFirma\css\bootstrap.min.css">

<link rel="stylesheet" media="all" href="assetsFirma\css\style.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\fontawesome-all.min.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\jquery-ui.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\fa-brands.min.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\fa-regular.min.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\fa-solid.min.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\style.css">
<link rel="stylesheet" media="all" href="assetsFirma\css\css.css">

<_LoadingSpinner></_LoadingSpinner>

<style>
    body {
        font-family: 'Poppins', sans-serif !important;
    }


    .sello {
        width: 40% !important;
        height: 40% !important;
        float: left !important;
        display: none;
    }

    .page-wrapper:after{
        display: none !important;
    }

</style>

<PageTitle>Firma Electrónica de Documento</PageTitle>

<header>
    <nav class="navbar navbar-light" style="background-color:#c43030">
        <div class="container-fluid">
            <a class="navbar-brand logo text-dark h2" href="javascript:void(0)" style="margin-left:25px">
                <img src="https://smart.edu.co/wp-content/uploads/2021/04/logosweb.png" style="width:150px;height:60px">
            </a>
        </div>
    </nav>
</header>

@Body
    
<div class="container-fluid">
        
    <div class="row">
        <div class="col-md-12 text-center" style="color:#FFFFFF">Copyright © @Anio SMART Training Society. Todos los derechos reservados.</div>
    </div>
</div>

@code {
    private string Anio = DateTime.Now.Year.ToString();

    protected override async Task OnAfterRenderAsync(bool firsRender)
    {
        try
        {
            if (firsRender)
            {

            }

            //Loader
            await _jsRuntime.InvokeVoidAsync("agregarClase", ".loaderOverlay", "inactive");
        }
        catch (Exception exe)
        {
            
        }
    }
}
