@layout RegistroLayout

<PageTitle>Algo salió mal</PageTitle>

<style>
    section {
        text-align: center !important;
    }

</style>

<div class="website">
    <section>
        <div class="head" id="headSmart">
            <img id="smart" alt="Logo de Smart Academia" src="https://i.ibb.co/2cG4fmm/Group-398.png">
        </div>
    </section><br>

    <section>
        <div id="emogi">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon src="https://cdn.lordicon.com/krenhavm.json"
                       trigger="loop"
                       colors="primary:#ffffff,secondary:#ffffff"
                       style="width:250px;height:250px">
            </lord-icon>
        </div>
    </section>

    <section>
        <div id="contenido">
            <div id="msm">
                <p id="mensaje">¡Upss! Algo no salió bien</p>
            </div>
        </div>
    </section><br>
</div>

@code {


}
