:root {
    --rz-secondary: #c43030 !important;
    --rz-secondary-light: #e49292 !important;
    --rz-secondary-dark: #892222 !important;
    --rz-primary: #c43030 !important;
    --rz-primary-light: #e49292 !important;
    --rz-primary-lighter: rgb(244, 211, 211) !important;
    --rz-primary-dark: #892222 !important;
    --rz-primary-darker: rgb(82, 20, 20) !important;
}
