@attribute [PageInfo(perfilable = false)]

@page "/Home"

@using RegistroAsistenciasSMART.Model.Models.Configuracion.Perfilamiento
@using RegistroAsistenciasSMART.Services.Interfaces.Configuracion.Perfilamiento

@inject IUserService _userService
@inject ILogger<Home> _logger

@if (_isLoading)
{
	<_Loading></_Loading>
}
else
{
	<div class="cont">
		<img style="width:100%" src="assetsMainSite/imagesHome/bg.png" />
		<div class="top-left">
			<h1>Bienvenido/a @nombre_usuario</h1>
			<h5>¿Qué harás hoy?</h5>
		</div>
	</div>


	<div class="row row-cards">
		@* GESTIÓN DE ASISTENCIAS *@
		<ModuleAuthorizationView id_modulo="5">
			<Authorize>
				<div class="col">
					<a href="/GestionAsistencias">
						<div class="card">
							<div class="card-img-actions mx-1 ">
								<img src="assetsMainSite/imagesHome/perfilamiento.png">

							</div>

							<div class="card-body">
								<div class="d-flex align-items-start flex-nowrap">
									<div>
										<h6 class="fw-semibold me-2">Gestión de Asistencias</h6>
										<span>Gestiona colaboradores y asistencias</span>
									</div>
								</div>
							</div>
						</div>
					</a>

				</div>
			</Authorize>
			<NotAuthorize>

			</NotAuthorize>
		</ModuleAuthorizationView>
		@* PERFILAMIENTO *@
		<ModuleAuthorizationView id_modulo="1">
			<Authorize>
				<div class="col">
					<a href="/Perfilamiento">
						<div class="card">
							<div class="card-img-actions mx-1 ">
								<img src="assetsMainSite/imagesHome/perfilamiento.png">

							</div>

							<div class="card-body">
								<div class="d-flex align-items-start flex-nowrap">
									<div>
										<h6 class="fw-semibold me-2">Perfilamiento</h6>
										<span>Roles y usuarios</span>
									</div>
								</div>
							</div>
						</div>
					</a>

				</div>
			</Authorize>
			<NotAuthorize>

			</NotAuthorize>
		</ModuleAuthorizationView>

	</div>

	<!-- /image grid -->
}


@code {
	private bool _isLoading = true;

	[CascadingParameter]
	protected UserSession? session { get; set; }

	private string nombre_usuario = "";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		try
		{
			if (firstRender)
			{
				Usuario usuario = await _userService.getUsuarioByUser(session.UserName);

				if (usuario is null) return;

				nombre_usuario = $"{usuario.nombres} {usuario.apellidos}";

				if (string.IsNullOrEmpty(nombre_usuario))
				{
					nombre_usuario = session.UserName;
				}

				_isLoading = false;
				StateHasChanged();
			}
		}
		catch (Exception exe)
		{

		}
	}
}
